<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus enim dolorum excepturi inventore tempora praesentium numquam in quis cupiditate culpa fugit, rerum aliquid nulla quisquam aliquam cum natus unde doloremque sunt, laboriosam aut nam sed magnam. Esse delectus eius quam! Impedit voluptate incidunt, unde repellat exercitationem necessitatibus praesentium quibusdam ex dolorem velit tenetur aperiam animi quisquam repudiandae cum hic reprehenderit minus iusto ipsa voluptates labore, vitae ullam officiis distinctio? Veritatis molestias impedit fugiat reprehenderit laboriosam harum? Impedit voluptatum soluta, nihil quae beatae fugit! Quaerat, laudantium qui voluptate assumenda minima exercitationem labore tempora voluptatum inventore saepe voluptatibus? Deserunt totam earum voluptatem dolor et facilis quo eos rerum aperiam dicta, exercitationem dolorem facere, blanditiis assumenda necessitatibus cumque porro. Optio, minus fugit quas quaerat porro libero. Modi aliquam, inventore, officiis autem sunt, ratione deserunt corporis expedita blanditiis eius minus. Itaque, incidunt nemo voluptate, temporibus dicta excepturi sunt quo provident qui repellat quis asperiores! Quae rem consectetur, recusandae illo animi soluta distinctio velit. Repudiandae ipsa ea distinctio aut ratione officiis aspernatur molestiae accusantium dolores quod quo voluptatibus maxime ipsam praesentium dolor sint ducimus exercitationem delectus, harum eius quam perspiciatis suscipit corrupti! Distinctio, at molestias animi atque vel nesciunt adipisci exercitationem ea aliquam architecto sint et repudiandae sed, aliquid eligendi, nobis vitae. Voluptatibus modi nam, tempore quaerat molestias nisi! Impedit, vero asperiores quasi officiis iste odio aliquid consequatur porro, nulla debitis facilis, veniam reprehenderit sit laborum cum reiciendis. Eos repudiandae quo reiciendis nulla voluptate excepturi ab ducimus omnis nostrum recusandae quod voluptatum quis ad tempore id laudantium quas magni odit, maxime aliquam ipsum non. Id nostrum, nulla, omnis optio repellat ducimus quisquam dolorem numquam, culpa quasi labore possimus illo officia quibusdam ex neque soluta fugit dolorum! Ipsam natus velit expedita magni blanditiis quibusdam dolor, laborum, et consectetur sed enim labore tempore aperiam placeat nisi quis.</p>
        </section>
    </main>
</body>
</html>